.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 780px) {
  .fc-toolbar-title {
    font-size: 1.2em !important;
  }
  .image-gallery-slide img {
    width: 100%;
    height: 200px;
  }
  .fc-dayGridMonth-button,
  .fc-timeGridWeek-button,
  .fc-timeGridDay-button {
    display: none !important;
  }
}
@media screen and (min-width: 781px) {
  .fc-toolbar-title {
    font-size: 1.5em !important;
  }
  .image-gallery-slide img {
    width: 100%;
    height: 200px;
  }
}

td.fc-day-sat {
  background-color: #eaf4ff;
}
td.fc-day-sun {
  background-color: #ffeaea;
}

.anchor {
  padding-top: 70px;
  margin-top: -70px;
}

.cardImage:hover {
  cursor: pointer; /* マウスカーソルを手の形にする */
  opacity: 0.6; /* ボタンの透明度を60%にする */
}

@media screen and (min-width: 900px) {
  .image-gallery-slide img {
    width: 100%;
    height: 400px;
  }
}

#homeHeaderImages {
  margin-top: -20px !important;
}
